
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


:root{
    --primary-dark:#1F2937;
    --primary-green:#6ee787;
}
body{
    background-color: var(--primary-dark);
    color: var(--primary-green);
}
.container {
    width: 50%;
    margin: auto;
    
}
.con {
    width: 100%;
    margin: auto;
    
}
  .checknumber{
    display: block;
    margin-top: 1rem;
    background-color: transparent;
    color: var(--primary-green);
    border-color: var(--primary-green);;
    border-width:medium ;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
input{
    margin-bottom: 0.5rem;
    width: 50%;
    padding: 0.4rem;
    display:block;
}